# Choose provider: "OPENAI" or "GEMINI"
AI_PROVIDER=GEMINI


# If using Gemini (you'll need to drop live endpoint/key here)
GEMINI_API_KEY=AIzaSyBDC20igdcZiNti_6RFiLpzaOb7ovjMqrA
# For Gemini you may also need a GOOGLE_PROJECT_ID and a proper endpointURL depending on Google API version
GEMINI_ENDPOINT_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro-latest:generateContent?key=AIzaSyBDC20igdcZiNt

# Server
PORT=4000
